@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(64, 64, 64);
}

.container {
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: 200px;
  grid-auto-rows: auto;
  grid-template-areas: "hd hd" "main main" "footer footer";
  font-family: Helvetica, sans-serif;
}

.header {
  grid-area: hd;
  padding: 16px;
  background-image: url("../images/header.jpg");
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__title {
  text-transform: uppercase;
  text-shadow: 0px 0px 30px rgb(242, 191, 24);
  color: white;
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 16px;
  text-align: right;
  font-family: Helvetica, sans-serif;
}

.header__title1 {
  color: white;
  margin-right: 0px;
  text-align: right;
  font-style: italic;
  font-size: 20px;
  text-align: right;
  font-family: Helvetica, sans-serif;
  color: white;
}
