@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  color: white;
  background-color: rgb(64, 64, 64);
}

.container {
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: 200px;
  grid-auto-rows: auto;
  grid-template-areas: "hd hd" "main main" "footer footer";
}

.header {
  grid-area: hd;
  padding: 16px;
  background-image: url("../images/header.jpg");
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__title {
  text-transform: uppercase;
  text-shadow: 0px 0px 30px rgb(242, 191, 24);
  color: white;
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 16px;
  text-align: right;
}

.header__title1 {
  color: white;
  margin-right: 0px;
  text-align: right;
  font-style: italic;
  font-size: 20px;
  text-align: right;
}

.form {
  width: 450px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.label,
.input,
.textarea {
  color: black;
}
.input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.input[type="submit"]:hover {
  background-color: #0056b3;
}