/*фоновий колір*/
$primary-color: rgb(64, 64, 64);
$primary-color-darker: rgb(0, 0, 0);
$card-color: #FFFFFF;

/*колір тексту*/
$primary-text-color: white;
$secondary-text-color: white;

/*відступи*/
$std-indent: 16px;
$double-std-indent: 32px;

/*заокруглення рамки*/
$radius: 5px;
