@import "base";

* {
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
	color: $primary-text-color;
	background-color: $primary-color;
}

.container{
	display: grid;
	grid-template-columns: 25% auto;
	grid-template-rows: 200px;
	grid-auto-rows: auto;
	grid-template-areas: 
	"hd hd"
	"nav nav"
	"sidebar main"
	"footer footer";
}

.header{
	grid-area: hd;
	padding: $std-indent;
	background-image: url('../images/header_2.jpg');
	background-position: center left;
	background-size: cover;
	background-repeat: no-repeat;
}

.header__title{
	text-transform: uppercase;
	text-shadow: 4px 4px 4px rgb(0, 0, 0);
	color: rgb(64, 64, 64);
	font-size: 60px;
	margin-bottom: 0px;
	margin-top: $std-indent;
	text-align: right;
}

.header__title1{
	color: rgb(64, 64, 64);
	margin-right: 0px;
	text-align: right;
	font-style: italic;
	font-size: 20px;
	text-align: right;
}

.sort{
	grid-area: nav;
	display: flex;
}

.sort__label,
.sort__item{
	padding: 0 $double-std-indent;
	line-height: 3rem;
	text-decoration: none;
	color: white;
	border-bottom: 5px solid transparent;
}

.sort__item:hover{
	background-color: #0F0D0E;
	border-bottom-color: #00FFFF;
	color: #00FFFF;
}

.sidebar{
	grid-area: sidebar;
	padding: $double-std-indent;
	background-color: $primary-color-darker;
	@include border-radius($radius);
	margin-bottom: $std-indent;
}

.content{
	grid-area: main;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.card{
	width: 30%;
	height: fit-content;
	margin-bottom: $double-std-indent;
	background-color: #222;
	@include border-radius($radius);
	overflow: hidden;
	transition: box-shadow 0.25s transform 0.25s;
}

.card:hover{
	box-shadow: 0 0.5rem 0.5rem -0.4rem #00FFFF;
	transform: translateY(-0.25rem);
}

.card__header{
	position: relative;
	height: 250px;
	overflow: hidden;
	background-image: url('../images/card.jpg');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: $card-color;
}

.card__title{
	margin-top: 0;
	left: $std-indent;
	bottom: $double-std-indent;
	font-weight: 900;
	color: $secondary-text-color;
}

.card__info{
	left: $std-indent;
	bottom: $std-indent;
}

.card__content{
	padding: $std-indent;
	font-size: 0.9rem;
	line-height: 1.4rem;
}

.card__content p{
	margin: 0;
}

.footer{
	grid-area: footer;
	padding: $double-std-indent;
	background-color: $primary-color-darker;
	text-align: center;
}

.burger{
	display: none;
}

.burger__bar{
	width: 25px;
	height: 3px;
	margin: 5px auto;
	background-color: white;
}

@media only screen and (max-width: 768px){
	.container{
		grid-template-columns: auto;
		grid-template-rows: 100px;
		grid-template-areas: 
		"hd hd"
		"nav nav"
		"main main"
		"footer footer";
	}

	.header{
		font-size: 20px;
		padding: 0;
	}

	.header__title{
	font-size: 20px;
	margin-bottom: 0px;
	margin-right: 10px;
	margin-top: 20px;
	}

	.header__title1{
	margin-right: 10px;
	font-size: 10px;
	}

	.sort{
		padding: 16px;
		flex-direction: column;
		align-items: flex-start;
		height: fit-content;
	}

	.sort{
		.sort__label, 
		.sort__item{
			display: none;
		}
	}

	.sort.open .sort__label,
	.sort.open .sort__item{
		display: block;
		width: 100%;
		padding: 0;
	}

	.sidebar{
		display: none;
	}

	.card{
		width: 40%;
		margin: 0 5px 5px 5px;
	}

	.burger{
		display: inline-block;
	}
}




